/* Example using Normalize.css */
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

/* Define the regular variable font */
@font-face {
    font-family: 'Raleway';
    src: url('/font/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
    font-display: swap;
}

/* Define the italic variable font */
@font-face {
    font-family: 'Raleway';
    src: url('/font/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900; /* Variable font weight range */
    font-style: italic;
    font-display: swap;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700; /* Equivalent to bold */
    background-color: silver;
    text-align: center;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500; /* Equivalent to medium */
}

* {
    font-family: 'Raleway', sans-serif;
    font-weight: 400; /* Equivalent to normal */
    max-width: 74ch; /* Limit the line width to 74 characters */
    overflow-wrap: anywhere; /* Allow wrapping anywhere between words */
    word-break: keep-all; /* Prevent breaking words */
    line-height: 1.4;
}

body {
    -webkit-font-smoothing: antialiased; /* Lighter font rendering */
    -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
}